Flask
scikit-learn
tensorflow
pandas 
dvc
nltk
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
streamlit
google-generativeai
python-dotenv
pdf2image
langchain_google_genai
ipython
