Flask
scikit-learn
tensorflow
pandas 
dvc
nltk
notebook
numpy
matplotlib
seaborn
python-box
pyYAML
tqdm
ensure
joblib
types-PyYAML
scipy
Flask
Flask-Cors
pymongo
Flask-SQLAlchemy
Flask-Migrate
mysql-connector-python  
Django
paddlepaddle
paddleocr
pytesseract
streamlit
google-generativeai
python-dotenv
langchain
chromadb
pdf2image
faiss-cpu
langchain_google_genai
ipython
Wand
opencv-python
google-auth
transformers
chainlit