# streamlit
# google-generativeai
# python-dotenv
# gtts
# SpeechRecognition==3.8.1  # For speech recognition
# sounddevice==0.4.1  # For audio recording
# SoundFile==0.12.1 # For audio file handling
# portaudio==19.7.0
python-dotenv==0.19.0
streamlit==1.7.0
google==3.0.0  # Make sure to verify the latest version
google-generativeai
sounddevice==0.4.1
soundfile==0.11.0
SpeechRecognition==3.8.1
gtts
python-dotenv
altair==4.1.0
vega_datasets==0.9.0
click==7.1.2 
google-ai-generativelanguage==0.6.4
google-api-core==2.19.0
googleapis-common-protos==1.63.0
grpcio-status==1.62.2
protobuf==4.21.6
python-dotenv==0.19.0
streamlit==1.7.0
sounddevice==0.4.1
soundfile==0.11.0
SpeechRecognition==3.8.1
gtts 
altair==4.1.0



